@inherits DrawerBase

<div class="form-group col-md-6">
	<label>@this.Label</label>
	<select class="custom-select" @bind="this.Selected">
		@foreach (Channel channl in this.ChannelList)
		{
			<option value=@channl.DiscordId>@channl.Name</option>
		}
	</select>
</div>

@code {

	private string selected;

	public List<Channel> ChannelList { get; set; }

	public string Selected
	{
		get
		{
			return this.selected;
		}
		set
		{
			this.selected = value;
			this.OnChanged(this.selected);
		}
	}

	protected override async Task OnInitializedAsync()
	{
		this.ChannelList = new List<Channel>()
		{
			new Channel(0, "None", FC.Channel.Types.Unknown),
		};

		this.ChannelList.AddRange(await Channels.GetChannels());

		this.Selected = this.GetValue<string>();
		if (string.IsNullOrEmpty(this.Selected))
			this.Selected = "0";

		this.StateHasChanged();
	}

	protected void OnChanged(string value)
	{
		this.SetValue(value);
	}
}
