@inherits DrawerBase

<div class="form-group col-md-6">
	<label>@this.Label</label>
	<input type="text" class="form-control" @bind="this.Selected"/>
</div>

@code {
	private string selected;

	public string Selected
	{
		get
		{
			return this.selected;
		}
		set
		{
			this.selected = value;
			this.OnChanged(this.selected);
		}
	}

	protected override Task OnInitializedAsync()
	{
		this.Selected = this.GetValue<string>();
		return Task.CompletedTask;
	}

	protected void OnChanged(string value)
	{
		this.SetValue(value);
	}
}
