
<div class="form-row">
	<div class="form-group col-md-12">
		<label>Are you sure you want to delete the item: "@this.Content" ?</label>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" @onclick="this.OnDelete">Delete</button>
	<div class="flex-fill" />
	<button type="button" class="btn btn-secondary" @onclick="this.OnClose">Cancel</button>
</div>


@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter] public string? Content { get; set; }

	private async Task OnClose() => await BlazoredModal.CancelAsync();
	private async Task OnDelete() => await BlazoredModal.CloseAsync(ModalResult.Ok());
}
