@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

@using System.Text;
@using FC.Manager.Client.RPC;

<div style="margin: 1rem">
	<div class="form-row">
		<!-- Name -->
		<div class="form-group col-md-12">
			<label class="text-white">Welcome</label>
		</div>

		@if (!RPCService.IsAuthenticated)
		{
			<div class="form-group col-md-12">
				<Button class="btn btn-light nav-link" style="width:100%" @onclick="this.OnSignIn">
					<span class="oi oi-account-login" aria-hidden="true"></span> Sign In With Discord
				</Button>
			</div>
		}
	</div>
</div>

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	private async void OnSignIn()
	{
		string clientId = await this.Http.Invoke<string>("AuthenticationService.GetDiscordKey");

		StringBuilder urlBuilder = new StringBuilder();
		urlBuilder.Append("https://discordapp.com/api/oauth2/authorize");
		urlBuilder.Append("?response_type=code");
		urlBuilder.Append("&client_id=");
		urlBuilder.Append(clientId);
		urlBuilder.Append("&scope=identify");
		urlBuilder.Append("&redirect_uri=");
		urlBuilder.Append(NavigationManager.Uri);
		urlBuilder.Append("OAuth");
		urlBuilder.Append("&prompt=none");

		NavigationManager.NavigateTo(urlBuilder.ToString());
	}
}