@page "/events"
@using KupoNuts.Events;
@using KupoNuts.Utils;
@using NodaTime;
@using System.Globalization;
@inject HttpClient Http
@inject IModalService Modal

@if (this.AllEvents == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-dark">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Next Occurance</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Event evt in this.AllEvents)
			{
				<tr @onclick="() => this.OnEdit(evt)" class="table-clickable">
					<td>@evt.Name</td>
					<td>@evt.Description</td>
					<td>@GetNextOccurance(evt)</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	public List<Event> AllEvents;

	protected override async Task OnInitAsync()
	{
		this.AllEvents = await this.Http.GetJsonAsync<List<Event>>("Events");
	}

	protected void OnEdit(Event evt)
	{
		ModalParameters parameters = new ModalParameters();
		parameters.Add("Event", evt);
		Modal.Show("Edit Event", typeof(EventEditor), parameters);
		Modal.OnClose += this.OnModalClosed;
	}

	public string GetNextOccurance(Event evt)
	{
		DateTimeZone zone = TimeUtils.AEST;
		Instant instant = evt.NextOccurance(zone);
		ZonedDateTime zdt = instant.InZone(zone);

		return zdt.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture);
	}

	private async void OnModalClosed(ModalResult result)
	{
		Modal.OnClose -= this.OnModalClosed;

		await this.Http.PostJsonAsync<Event>("Events", (Event)result.Data);

		this.AllEvents = await this.Http.GetJsonAsync<List<Event>>("Events");
	}
}
