@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

@using System.Text;

<div style="margin: 1rem">
	<div class="form-row">
		<!-- Name -->
		<div class="form-group col-md-12">
			<label for="eventName" class="text-white">Welcome to Kupo Nuts Bot</label>
		</div>

		@if (!Authentication.IsAuthenticated)
		{
			<div class="form-group col-md-12">
				<Button class="btn btn-warning nav-link" style="width:100%" @onclick="this.OnSignIn">
					<span class="oi oi-cog" aria-hidden="true"></span> Sign In With Discord
				</Button>
			</div>
		}
	</div>
</div>

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	private void OnSignIn()
	{
		StringBuilder urlBuilder = new StringBuilder();
		urlBuilder.Append("https://discordapp.com/api/oauth2/authorize");
		urlBuilder.Append("?response_type=code");
		urlBuilder.Append("&client_id=604288630579527698");
		urlBuilder.Append("&scope=identify");
		urlBuilder.Append("&state=thisisfortesting");
		urlBuilder.Append("&redirect_uri=");
		urlBuilder.Append(NavigationManager.Uri);
		urlBuilder.Append("OAuth");
		urlBuilder.Append("&prompt=consent");

		NavigationManager.NavigateTo(urlBuilder.ToString());
	}
}