@page "/"
@inject HttpClient Http

<div style="margin: 1rem">
	<div class="form-row">
		<!-- Name -->
		<div class="form-group col-md-12">
			<label for="eventName" class="text-white">Welcome to Kupo Nuts Bot</label>
		</div>
	</div>
</div>

@code
{
	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
}