@using FC.ReactionRoles;
@using NodaTime;
@using RPC;
@using FC.Color; 

@inherits Modal

@if (this.IsLoading)
{
	<div class="form-row mb-2">
		Loading...
	</div>
}
else
{
	<div class="form-row">
		<!--  Name -->
		<div class="form-group col-md-6">
			<label for="itemName">Title</label>
			<input class="form-control" id="itemName" name="itemName" @bind="this.reactionRole.Name" />
		</div>

		<!--  Channel -->
		<div class="form-group col-md-6">
			<label for="channelSelect">Discord Channel</label>
			<select class="custom-select" id="channelSelect" name="channelSelect" @bind="this.Channel">
				@foreach (Channel channel in this.ChannelList)
				{
					<option value=@channel.DiscordId>@channel.Name</option>
				}
			</select>
		</div>
	</div>

	
	<div class="form-row">
		<!--  Color -->
		<div class="form-group col-md-6">
			<label for="colorSelect">Color</label>
			<select class="custom-select" id="colorSelect" name="colorSelect" @bind="this.Color">
				@foreach (string color in this.ColorList)
				{
					<option value=@color>@color</option>
				}
			</select>
		</div>

		<!-- Append Message Hint -->
		<div class="form-group col-md-6">
			<label for="">&nbsp;</label>
			<div class="custom-control custom-checkbox">
				<input class="custom-control-input" type="checkbox" id="chkBoxAppendReactionHintToMessage" value="false" @bind="this.reactionRole.AppendReactionHintToMessage" />
				<label title="Show Reaction and Roles After Message Text" class="custom-control-label" for="chkBoxAppendReactionHintToMessage">Append Reaction Hint To Message</label>
			</div>
		</div>
	</div>

	<div class="form-row">
		<!--  Description -->
		<div class="form-group col-md-12">
			<label for="itemDesc">Description</label>
			<textarea class="form-control" id="itemDesc" name="itemDesc" rows="5" @bind="this.reactionRole.Description"></textarea>
		</div>
	</div>
}

<div class="modal-footer">
	<button type="button" class="btn btn-danger" @onclick="this.OnDelete">Delete</button>
	<div class="flex-fill" />
	<button type="button" class="btn btn-primary" @onclick="this.OnSave">Save</button>
	<button type="button" class="btn btn-secondary" @onclick="this.OnClose">Close</button>
</div>


@code {

	public bool IsLoading { get; set; }

	public List<Channel> ChannelList { get; set; } = new List<Channel>();
	public List<string> ColorList { get; set; }

	private ReactionRoles.ReactionRole reactionRole;

	public ulong Channel
	{
		get { return this.reactionRole.ChannelId ?? 0; }
		set { this.reactionRole.ChannelId = value == 0 ? (ulong?)null : value; }
	}

	public string Color
	{
		get { return this.reactionRole.Color.ToString(); }
		set { this.reactionRole.Color = (FCColor.Colors)Enum.Parse(typeof(FCColor.Colors), value); }
	}

	public async Task Initialize(ReactionRoles.ReactionRole reactionRole)
	{
		this.IsLoading = true;
		this.reactionRole = reactionRole;

		this.ChannelList.AddRange(await Channels.GetChannels());
		this.ColorList = new List<string>(typeof(FCColor.Colors).GetDisplayStrings());

		this.IsLoading = false;
	}

	private async void OnSave()
	{
		await RPCService.Invoke("ReactionRoleService.UpdateReactionRole", this.reactionRole);
		this.Close();
	}

	private void OnClose()
	{
		this.Close();
	}

	private async void OnDelete()
	{
		this.Close();

		bool confirmed = await Modal.Show<bool, ConfirmDelete>("Delete Reaction Role", this.reactionRole.Name);
		if (confirmed)
		{
			await RPCService.Invoke("ReactionRoleService.DeleteReactionRole", this.reactionRole.Id);
		}
	}
}
