body 
{
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content 
{
	padding-left: 15px;
	padding-right: 15px;
}

.modal-body 
{
	display: inline-block;
}

.dateTime
{
	padding: 0px 6px;
}

.inline
{
	display: inline-block;
	margin: 6px;
}

@media screen and (max-width: 767px) 
{
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}
